.contenido
    margin-bottom: 40px
    justify-content: space-evenly
    contenedor()

.caja
    max-width: 430px
    box-shadow()
    &__contenido
        padding: 20px
        background-color: color-claro
        span
            color: color-secundario
            titulos(fuente-auxiliar)
        h3
            font-weight: normal
            titulos(fuente-auxiliar)