extends ./components/template.pug
block main-contain
	section.intro
		.intro__imagen: img(src='./images/imagen.png')
		.intro__contenido
			h2 #{titles[0]}
			p
				|	Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				|	Nobis sequi corporis nesciunt sed voluptatem totam eos, 
				|	incidunt assumenda nulla mollitia ut. 
				|	Nostrum non nam quas quam aperiam obcaecati.
				span Nobis sequi corporis nesciunt sed voluptatem totam eos, incidunt assumenda nulla mollitia ut. 
			a.boton Leer Más
	main.contenido
		+box('imagen.png',titles[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
		+box('imagen.png',titles[2], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
		+box('imagen.png',titles[3], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.')
		